Flask==2.2.2
aiohttp==3.10.0
aiohttp-retry==2.8.3
async-timeout==4.0.3
attrs==23.2.0
bcrypt==4.0.1
beautifulsoup4==4.12.2
certifi==2024.6.15
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.6
colorama==0.4.6
cryptography==40.0.1
gunicorn==20.1.0
